nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding : 0 30px;
    height : 10vh;
    position: fixed;
    width:100%;
    z-index: 99999999;
    font-size: 20px;
    background-color: rgb(134, 7, 30);
}

.menu p{
    font-size: 24px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}
.logo{
    display: flex;
    gap: 10px;
}
.logo img{
    border-radius: 50%;
}
.logo h1{
    color:white;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

nav .hamburger{
    display:none;
}

.menu{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:30px;
}

.menu p:hover{
    color:red;
}

@media(max-width:900px){
    nav .hamburger{
        display:block;
    }
    .menu{
        position: absolute; 
        width:100%;
        height: 70vh;
        top:0vh;
        left : -100%;
        flex-direction: column;
        gap:80px;
        z-index: -1;
        background-color: rgb(134, 7, 30);
    }
    p{
        font-size: 28px;
    }

    .active{
        left : 0;
    }
}